<h2 class="team_title">Team #999</h2>
    <ul class="team">
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/dev/vik.jpg" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Victor</h3>
                <p class="person_job">Team Leader</p>
            </div>
        </article>
        </li>
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Scrum Master</p>
            </div>
        </article>
        </li>
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
                <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
                <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
        <li class="team_item">
        <article class="person">
            <img src="https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka2/main/src/images/404.png" alt="devPhoto" class="person_photo">
            <div class="person_overlay">
                <h3 class="person_name">Developer Name</h3>
                <p class="person_job">Developer</p>
            </div>
        </article>
        </li>
    </ul>