<footer class="footer">
    <div class="container container-footer">
        <ul class="copirigth">
            <li class="copirigth_item">&copy; 2021</li>
            <li class="copirigth_item">All Rights Reserved </li>
        </ul>
      <span class="footer_text">
        Developed with by
        <svg class="footer_icon">
          <use xlink:href="./images/svg/svg-sprite.svg#heart"></use>
        </svg>
        <button class="footer_button" > GoIT Students </button>
      </span>
    </div>
  </footer>