  <header class="header">
    <div class="container container-header">
      <div class="header_first-block">
        <a class="name" href="#"
          ><svg class="name_icon">
            <use xlink:href="./images/svg/svg-sprite.svg#film"></use>
          </svg>
          <h1 class="name_title">Filmoteka</h1></a
        >
        <nav class="navigation">
          <button class="navigation_button active" disabled data-action="HOME">HOME</button>
          <button class="navigation_button" data-action="LIBRARY">MY LIBRARY</button>
        </nav>
      </div>
      <div class="search">
       <form class="search_block"  id="search" autocomplete="off">
        <input class="search_input" name="search" type="search"  placeholder="Поиск фильмов" />
        <button type="submit" class="searching_button" >
          <svg class="search_icon" width="12px" height="12px">
            <use
              xlink:href="./images/svg/svg-sprite.svg#search"
            ></use>
          </svg>
        </button>
       </form>
        <span class="search_text"></span>
      </div>
      <div class="header-button-block is-hidden" id="buttons">
        <button class="button active" data-action="Watched">Watched</button>
        <button class="button" data-action="queue">queue</button>
      </div>
    </div>
  </header>
  