<section>
    <div class="pagination">
        <ul class="pagination_list">
          <li class="pagination_item prewPage " data-action="prewPage"> &#8592</li>
          <li class="first-page " data-action="reset">1</li>
          <li class="dots prewPage ">...</li>
          <li class="number prewPage " data-action="prewPage">1</li>
          <li class="number active">1</li>
          <li class="number nextPage" data-action="nextPage">2</li>
          <li class="dots nextPage">...</li>
          <li class="last-page" data-action="last-page">7</li>
          <li class="pagination_item nextPage" data-action="nextPage">&#8594</li>
        </ul>
      </div>
</section>