.footer {
    &_link {
      color: $secondary-text-color;
      text-decoration: underline $secondary-text-color;
      transition: color 250 $primary-animation;
    }
    &_text {
      display: flex;
      align-items: center;
    }
    &_icon {
      margin: 0 10px;
      width: 16px;
      height: 14px;
    }
  }
 .copirigth {
     display: flex;
     @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
     &_item{
    margin-right: 3px;
     }
     &_item::after{
         content: '';
         border-right: 2px solid $secondary-text-color;
         margin-left: 3px;
    }
  }