.gallery {
    margin-top: 20px;
    @media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
margin: 60px -30px -30px 0 ;
    }
  &_item {
      margin-bottom: 20px;
      cursor: pointer;
      transition: 250ms transform $primary-animation,250ms box-shadow $primary-animation;
      border-radius: 5px;
      box-shadow:none;
      @media screen and (min-width: 768px) {
        width: calc((100% - ( 30px * 2)) / 2);
        margin-bottom: 30px;
        margin-right: 30px;
      }
      @media screen and (min-width: 1024px) {
        width: calc((100% - ( 30px * 3)) / 3);
        padding-bottom: 5px;
      }
      &:hover ,&:focus{
        transform: scale(1.05);
        box-shadow: 0px -11px 5px -5px rgba(4, 4, 4, 0.6);
      }
  }
  &_item:last-child {
    margin-bottom: 0;
}
  &_image {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  &_title {
    font-weight: 500;
    text-transform: uppercase;
    color:$primary-text-color;
    margin-bottom: 5px;
  }
  &_genre {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: $acent-text-color;
  }
  &_year {
    margin-left: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: $acent-text-color;
  }
  &_voise{
    margin-left: 7px;
      background-color: $acent-text-color;
      border-radius: 5px;
      padding: 1px 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: $lite-text-color;
  }
  &_voise-dark{
    padding: 1px 4px;
    background-color: $footer-Bg-color;
    color: $primary-text-color;
}

}
