.back-drop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition:  250ms opacity $primary-animation;
    overflow-y: scroll;
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
}
.modal{
  position: relative;
  top: 10%;
  left: 50%;
  background-color: $lite-text-color;
  padding: 48px 20px 48px 20px;
  transform: translate(-50%);
  min-width: 280px;
  width: 90vw;
  @media screen and (min-width: 480px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    width: 700px;
  }
  @media screen and (min-width: 1024px) {
    width: 882px;
  }
  &_close{
    fill: $primary-text-color;
    position: absolute;
    top:10px;
    right: 10px;
    background-color: transparent;
      display: flex;
      padding: 0;
      border: none;
      width: 30px;
      height: 30px;
      margin-bottom: 8px;
      cursor: pointer;
      transition: 250ms fill $primary-animation;
      &:hover,&:focus{
        fill: $acent-text-color;
      }
  }
  &_close-icon{
    max-height: 30px;
  }
  &-button-container{
    display: flex ;
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
  }
  &-button{
    min-width: 112px;
    padding: 14px 0;
    @media screen and (min-width: 480px) {
      &-wrap{
        display: none;
      }
    }
    
  }

}