.pagination{

    padding: 30px 0;
    &_list{
        display: flex;
        justify-content: center;
        font-weight: 500;
        &>li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2px;
            padding: 10px;
            cursor: pointer;
        }
        &>li:last-child{
            margin-right: 0;
        }
        & .dots{
            cursor: default;
        }
        & .number.active{
            width: 40px;
            height: 40px;
            border-radius: 5px;
            background-color: $acent-text-color;
            color: $lite-text-color;
        }
    }
    &_item{
        width: 40px;
        height: 40px;
        background-color: $footer-Bg-color;
        border-radius: 5px;
    }
    
    &_icon{
        width: 16px;
            max-height: 16px;
        
    }
}